@media (min-width: map-get($grid-breakpoints, lg)) {
  .banner-header {
    height: 780px;
    background: url("../../dist/img/testa-mob.png") center center no-repeat;
    background-size: cover;
    color: white;
    font-size: 20px;
    .container {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: space-around;
      .text {
        width: 495px;
        flex-direction: column;
        display: flex;
        h2 {
          font-weight: bold;
          font-size: 51px;
          letter-spacing: 0.02em;
          line-height: 54px;
          text-align: left;
        }
        .line {
          width: 334px;
          height: 4px;
          margin: 0;
          margin-bottom: 35px !important;
        }
        p {
          font-size: 20px;
          letter-spacing: 0.02em;
          text-align: left;
          width: 400px;
        }
      }
      .form-box {
        width: 380px;
        // height: 497px;
        margin: 0;
        position: relative;
        top: 50px;
        z-index: 5;
        .form-title {
          height: 75px;
          align-items: center;
          .title {
            font-size: 22px;
            letter-spacing: 0.02em;
            line-height: 25px;
          }
        }
        .inputs {
          ::placeholder {
            color: #253e78;
          }
          padding-top: 30px;
          .wpcf7-not-valid-tip {
            top: -20px;
          }
          input[type="text"],
          input[type="email"],
          textarea {
            margin-bottom: 20px;
          }
          input[type="submit"] {
            margin-top: 15px;
            width: 206px;
            height: 43px;
            font-size: 18px;
            letter-spacing: 0.03em;
          }
          .mini {
            font-size: 9px;
            letter-spacing: 0.1em;
            line-height: 20px;
          }
        }
      }
    }
  }
  .implante-fases {
    .coluna-lg-7 {
      @include make-col(6);
    }
    .box-all {
      display: flex;
      align-items: flex-end;
      .box-text {
        @include make-col(6);
        height: 660px;
        border-radius: 0 30px 30px 0;
        padding: 30px 87px;
        top: 0;
        .wrapper {
          .fases-nav {
            left: -70px;
          }
        }
        .end-text {
          margin-top: 40px;
        }
        .btn-cta {
          display: flex;
          justify-content: space-between;
          padding: 10px 23px 14px;
          border: 2px solid #253e78;
          border-radius: 10px;
          align-items: center;
          color: #253e78;
          margin-top: 40px;
          font-size: 23px;
          img {
            top: 0;
          }
        }
      }
      .box-green {
        width: 92%;
        height: unset;
        padding: 14px 38px 10px 36px;
        font-size: 30px;
        line-height: 40px;
      }
      .box-blue {
        top: 0;
        height: unset;
        font-size: 26px;
        line-height: 36px;
        padding-bottom: 27px;
      }
    }
  }
  .tratamentos {
    padding-top: 70px;
    padding-bottom: 70px;
    .title {
      text-align: left;
      font-size: 30px;
      line-height: 40px;
    }
    .borda-green {
      height: 100%;
      .foto {
        height: 100%;
      }
    }

    .end-section {
      background: transparent;
      border-radius: 10px;
      height: auto;
      font-size: 23px;
      padding: 11px 24px 13px;
      margin: 0;
      color: #253e78;
      width: 420px;
      span {
        margin-right: 25px;
      }
    }
  }

  .problemas {
    padding-top: 78px;
    padding-bottom: 78px;
    .title {
      font-size: 30px;
      width: 496px;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
      line-height: 40px;
    }
    .box-lg {
      .line,
      .p-intro {
        max-width: 726px;
        margin-right: auto;
        margin-left: auto;
        text-align: center;
      }
      .p-intro {
        line-height: 19px;
        padding: 0 38px 0 28px;
      }
      .borda-blue {
        width: 369px;
        height: 630px;
        border-radius: 30px 30px 30px 0px;
        img {
          width: 369px;
          height: 630px;
        }
      }
      .fake-carousel {
        margin-top: 0;
        width: 100%;
        flex-wrap: wrap;
        overflow: visible;
        height: unset;
        justify-content: space-between;
        .item {
          margin-right: 0;
          .blue {
            width: 170px;
            height: unset;
            .icon {
              width: 170px;
              height: 134px;
            }
            .title {
              width: unset;
              font-size: 18px;
              line-height: normal;
              padding-bottom: 5px;
            }
          }
          p {
            width: 176px;
            font-size: 15px;
            height: unset;
          }
        }
      }
      .rodape-box {
        margin-top: 48px;
        color: #c8d336;
        font-size: 23px;
        text-align: center;
        h3 {
          font-weight: bold;
          display: inline-block;
          margin-right: 30px;
        }
        .btn-cta {
          display: inline-block;
          padding: 7px 31px 8px 31px;
          border: 2px solid #c8d336;
          border-radius: 10px;
          color: #c8d336;
          &:hover {
            transform: scale(1.02);
          }
        }
      }
    }
  }

  .tratamentos-2 {
    padding-top: 70px;
    padding-bottom: 70px;
    .title {
      font-size: 30px;
      text-align: left;
    }
    .sub {
      margin-left: 0;
      width: 530px;
      font-size: 18px;
      text-align: left;
    }
    .box-lg {
      display: flex;
      justify-content: space-between;
      .borda-green {
        width: 380px;
        height: 547px;
        border-radius: 30px 30px 30px 0px;
        background: #c8d336;
        img {
          position: relative;
          left: 10px;
          bottom: 10px;
        }
      }
      #accordion {
        width: 570px;
        .btn-link {
          width: 100%;
          .title {
            font-size: 24px;
            width: 320px;
          }
        }
      }
    }
    .end-section {
      margin-top: 40px;
      width: 100%;
      height: 105px;
      border-radius: 32px 32px 32px 0px;
      background: transparent;
      border: 2px solid #253e78;
      justify-content: space-around;
      align-items: center;
      span {
        font-size: 30px;
        line-height: 40px;
        text-align: left;
        padding-bottom: 0;
      }
      .btn-cta {
        width: 307.25px;
        height: 53.52px;
        background: #c8d336;
        border-radius: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        span {
          font-weight: normal;
          font-size: 23px;
          line-height: 40px;
          text-align: left;
          color: #253e78;
          margin-right: 15px;
        }
        img {
          filter: invert(19%) sepia(94%) saturate(950%) hue-rotate(199deg)
            brightness(87%) contrast(90%);
        }
      }
    }
  }

  .clinica {
    padding-top: 70px;
    padding-bottom: 70px;
    background: #f6f6f6;
    .wrapper {
      width: 1050px !important;
      .clinica-nav {
        top: -219px;
        width: 107%;
        left: -37px;
        img {
          filter: none !important;
          height: unset !important;
        }
      }
      .tns-nav {
        position: relative;
        bottom: -431px;
        text-align: center;
        left: unset;
      }
      .carousel-clinica {
        .item {
          .borda-green {
            width: 1040px !important;
            height: 354px !important;
            background: #253e78 !important;
            .foto {
              width: 1040px !important;
              height: 354px !important;
            }
            .f1 {
              background: url("../../dist/img/clinica1-desk.png") no-repeat !important;
              background-size: cover !important;
            }
            .f2 {
              background: url("../../dist/img/clinica2-desk.png") no-repeat !important;
              background-size: cover !important;
            }
            .f3 {
              background: url("../../dist/img/clinica3-desk.png") no-repeat !important;
              background-size: cover !important;
            }
            .f4 {
              background: url("../../dist/img/clinica4-desk.png") no-repeat !important;
              background-size: cover !important;
            }
            .f5 {
              background: url("../../dist/img/clinica5-desk.png") no-repeat !important;
              background-size: cover !important;
            }
            .f6 {
              background: url("../../dist/img/clinica6-desk.png") no-repeat !important;
              background-size: cover !important;
            }
          }
        }
      }
    }
    .section-lg {
      justify-content: space-between;
      margin-top: 45px;
      margin-bottom: 45px;
      .borda-blue,
      .foto {
        width: 275px;
        height: 199px;
        background: #253e78;
        border-radius: 30px 30px 30px 0px;
      }
      .foto {
        background-size: cover !important;
        position: relative;
        bottom: 10px;
        left: 10px;
      }
      .f1 {
        background: url("../../dist/img/section-lg1.jpg");
      }
      .f2 {
        background: url("../../dist/img/section-lg2.jpg");
      }
      .f3 {
        background: url("../../dist/img/section-lg3.jpg");
      }
    }
    .end-section {
      width: 100%;
      height: 115px;
      border-radius: 32px 32px 32px 0px;
      background: #c8d336;
      align-items: center;
      justify-content: space-around;
      border: 0;
      .title {
        width: unset;
        margin: 0;
        padding-bottom: 0;
      }
      .btn-cta {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 380px;
        height: 53.52px;
        background: transparent;
        border: 2px solid #253e78;
        border-radius: 10px;
        span {
          font-size: 23px;
          line-height: 40px;
          color: #253e78;
        }
        img {
          margin-left: 15px;
        }
      }
    }
  }

  .passo {
    padding-top: 80px;
    .box-all {
      width: 100%;
      .title {
        margin-bottom: 0;
      }

      .box-blue-title {
        width: 285px;
        height: 68px;
        .bold {
          font-size: 30px;
        }
      }
      .box-green {
        width: 494px;
        height: 157px;
        p {
          font-size: 26px;
          line-height: 36px;
        }
      }
      .lg-style {
        display: flex;
        flex-wrap: wrap;
        height: unset;
        padding-top: 35px;

        .coluna-lg-8 {
          padding: 0 15px;
          @include make-col(6.5);
          .title {
            text-transform: uppercase;
          }
        }
        .rodape-passos {
          margin-top: 41px;
          width: 100%;
          background: #253e78;
          color: #c8d336;
          padding: 26px 34px;
          justify-content: space-between;
          align-items: center;
          border-radius: 32px 32px 32px 0;
          h3 {
            font-weight: bold;
            margin-bottom: 0;
          }
          .btn-cta {
            color: inherit;
            padding: 11px 24px;
            border: 2px solid #c8d336;
            border-radius: 10px;
            font-size: 23px;
            img {
              margin-left: 47px;
            }
          }
        }
        .coluna-lg-4 {
          padding: 16px 25px 22px 0;
          @include make-col(5.5);
          .borda-green {
            margin-top: 0;
            max-width: 100%;
            height: 100%;
            .foto {
              background-image: url(../img/senhora-desktop.png);
              height: 100%;
            }
          }
        }
        .blue {
          height: unset;
          padding: 0;
          width: 100%;
          border-radius: 0;
          margin-bottom: 0;
          .wrapper {
            width: 100%;
            height: unset;
            .passo-nav {
              display: flex;
              justify-content: space-between;
              width: 120%;
              position: relative;
              top: -170px;
              left: -40px;
              img {
                height: 30px;
              }
            }
            .item {
              width: 100%;
              .title {
                width: 70%;
              }
              .text {
                width: unset;
              }
            }
          }
          .end-text {
            margin: 0 auto;
            width: 361px !important;
            font-size: 18px;
            letter-spacing: 0.02em;
          }
          .btn-cta {
            margin-top: 30px !important;
            width: 366.18px;
            height: 51.71px;
            border: 2px solid #c8d336;
            display: block;
            margin: 0 auto;
            border-radius: 10px;
            display: flex;
            justify-content: space-around;
            align-items: center;
            span {
              font-size: 22px;
              line-height: 38px;
              text-align: left;
              color: #c8d336;
            }
          }
        }
      }
    }
  }

  .depo {
    padding-top: 70px;
    padding-bottom: 70px;
    .title {
      text-align: left;
      padding-bottom: 30px;
    }
    .wrapper {
      position: relative;
      width: 90%;
      margin: 0 auto;
      .depo-container {
        .item {
          display: flex;
          width: 100%;
          height: 492px;
          border-radius: 30px 30px 30px 0px;
          background: #c8d336;
          .foto {
            width: 700px;
            height: 100%;
            border-radius: 0;
            border-top-left-radius: 30px !important;
          }
          .green {
            height: 100%;
            width: 100%;
            display: flex;
            flex-direction: column;
            position: relative;
            padding: 60px;
            .depoimento {
              font-family: "Poppins";
              width: 414px;
              font-weight: normal;
              font-style: italic;
              font-size: 16px;
              letter-spacing: 0.02em;
              text-align: left;
              color: #192a51;
            }
            .nome-prof {
              width: 285px;
              height: 87px;
              border-radius: 0px 30px 30px 0px;
              background: #253e78;
              position: absolute;
              left: 0;
              bottom: 25px;
              top: unset;
              span {
                color: #c8d336;
              }
              .nome {
                font-size: 22px;
              }
              .prof {
                font-size: 18px;
              }
            }
          }
        }
      }
      .next-button {
        position: absolute;
        right: 50px;
        bottom: 60px;
      }
      .tns-nav {
        position: absolute;
        bottom: 80px;
        display: flex;
        right: 140px;
        z-index: 5;
        height: unset;
        top: unset;
        button {
          background: #fff;
          opacity: 0.36;
        }
      }
      .tns-nav-active {
        background: #253e78 !important;
        opacity: 1 !important;
      }
    }
  }
  .contato {
    padding-top: 80px;
    .container {
      justify-content: space-around;
      align-items: center;
    }
    .lg,
    .lg span {
      text-align: left;
    }
    .contato-text {
      width: 400px;
      border: none;
      padding-bottom: 0;
      height: unset;
    }

    .lg-midia {
      position: relative;
      top: -55px;
      .midias {
        padding-top: 0;
        i {
          font-size: 20px !important;
        }
      }
    }
  }
}
