.invisivel {
  height: 85px;
}
header {
  background: transparent;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 50;
  .container {
    margin: 0 auto;
    height: 101px;
    background: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 0px 0px 30px 30px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);

    img {
      width: 262px;
    }
    .links {
      a {
        font-weight: normal;
        font-size: 16px;
        letter-spacing: 0.05em;
        color: #192a51;
        padding: 10px;
      }
    }
  }
}

.active {
  height: 100% !important;
  background-color: #c8d336 !important;
  align-items: baseline !important;
  position: relative;
  .logo-nav {
    background: url("../../dist/img/logo-white.png") center center no-repeat !important;
    background-size: contain !important;
  }
  .menu-icon {
    .navicon {
      &:before,
      &:after {
        background: #253e78 !important;
      }
    }
  }
  .menu {
    position: absolute;
    top: 120px;
    max-height: 100% !important;
  }
}

.top-nav {
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100%;
  padding: 10px 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  transition: top 0.75s ease-in-out;
  background-color: #ffffff;

  .logo-nav {
    background: url("../../dist/img/logo.png") center center no-repeat;
    background-size: contain;
    height: 60px;
    width: 150px;
  }

  .menu {
    list-style: none;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    max-height: 0;
    transition: max-height 0s ease-in-out;
    padding-left: 10px;

    a {
      color: #253e78;
      padding-top: 5px;
      padding-bottom: 5px;
      display: block;
      font-size: 18px;
      letter-spacing: 0.05em;
    }

    .mob-a {
      display: inline-block;
      min-width: 75px;
      margin: 0.3em 0;
      padding: 0 10px;
      transition: 1s all;
      text-decoration: none;
      font-size: 20px;

      &:link,
      &:visited {
        color: #253e78;
      }

      &:focus,
      &:hover,
      &:active {
        transform: scale(1.1) rotate(-2deg);
        color: #253e78;
      }
    }
    .line-detail {
      margin-top: 75px;
      margin-bottom: 55px;
      width: 85%;
      height: 3px;
      background: #253e78;
    }
    .midias {
      display: flex;
      i {
        font-size: 28px;
        color: #253e78;
        margin-right: 30px;
      }
    }
  }

  .logo {
    display: inline-block;
    width: 150px;
  }

  .menu-icon {
    cursor: pointer;
    display: inline-block;
    padding: 28px 20px;

    .navicon {
      background: #253e78;
      display: block;
      height: 2px;
      position: relative;
      width: 1.625rem;

      &:before,
      &:after {
        background: #253e78;
        content: "";
        display: block;
        height: 100%;
        position: absolute;
        transition: all 0.2s ease-out;
        width: 100%;
      }

      &:before {
        top: 7px;
      }

      &:after {
        top: -7px;
      }
    }
  }

  .menu-btn {
    display: none;

    &:checked ~ .menu {
      max-height: 300px;
    }

    &:checked ~ .menu-icon .navicon {
      background: transparent;

      &:before {
        transform: rotate(-45deg);
      }

      &:after {
        transform: rotate(45deg);
      }
    }

    &:checked ~ .menu-icon:not(.steps) .navicon {
      &:before,
      &:after {
        top: 0;
      }
    }
  }
}
// DESKTOP MENU CSS
@media (min-width: 840px) {
  .top-nav li {
    margin: 0 10px;
  }
  .top-nav .menu {
    width: auto;
    max-height: none;
    flex-direction: row;
  }
  .top-nav .menu-icon {
    display: none;
  }
}
