.container {
  padding-left: 35px;
  padding-right: 35px;
}

.banner-header {
  background: url("../../dist/img/testa-mob.png") center center no-repeat;
  background-size: cover;
  padding-top: 25px;
  padding-bottom: 25px;
  background-position-x: 27%;

  h2 {
    font-weight: bold;
    font-size: 30px;
    letter-spacing: 0.02em;
    line-height: 34px;
    text-align: center;
    color: #fff;
    margin-bottom: 30px;
  }
  .line {
    width: 211px;
    height: 3px;
    background: #c8d336;
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
  }
  p {
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    margin-bottom: 25px;
  }
  .form-box {
    width: 100%;
    background: #fff;
    border-radius: 15px;
    display: block;
    margin: 0 auto;
    .form-title {
      border-radius: 15px 15px 0px 0px;
      background: #253e78;
      display: flex;
      justify-content: center;
      padding: 10px;
      .title {
        font-weight: bold;
        font-size: 20px;
        letter-spacing: 0.02em;
        line-height: 20px;
        color: #c8d336;
      }
    }
    .inputs {
      padding-top: 15px;
      padding-left: 34px;
      padding-right: 34px;
      .wpcf7-list-item-label {
        color: #253e78;
      }
      .wpcf7-not-valid-tip {
        position: relative;
        top: -10px;
      }
      .wpcf7-response-output {
        position: relative;
        top: -30px;
      }
      p {
        height: unset;
        margin-bottom: 0;
      }
      input[type="text"],
      input[type="email"],
      textarea {
        padding-left: 7px;
        width: 100%;
        height: 35px;
        border-radius: 5px;
        background: transparent;
        border: 1px solid #253e78;
        margin-bottom: 10px;
        &::placeholder,
        &::-moz-placeholder {
          font-weight: normal;
          font-style: italic;
          font-size: 15px;
          letter-spacing: 0.02em;
          line-height: 20px;
          text-align: left;
          color: #192a51 !important;
        }
      }
      textarea {
        height: 102px;
      }
      input[type="submit"] {
        border-radius: 8px;
        width: 195px;
        height: 36px;
        background: transparent;
        display: block;
        background: #c8d336;
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        outline: none;
        margin: 0 auto;
        font-weight: 900;
        font-size: 16px;
        letter-spacing: 0.03em;
        color: #192a51;
      }
      .mini {
        margin-top: 15px;
        font-size: 7px;
        letter-spacing: 0.1em;
        line-height: 20px;
        text-align: center;
        color: #192a51;
        display: block;
      }
    }
  }
}

.tratamentos {
  position: relative;
  padding-top: 30px;

  .borda-green {
    margin-top: 30px;
    height: 261px;
    border-radius: 38px 38px 38px 0px;
    background: #c8d336;
    .foto {
      background: url("../../dist/img/foto-senhor.png") center center no-repeat;
      background-size: cover;
      border-radius: 38px 38px 38px 0px;
      height: 261px;
      width: 98%;
      position: relative;
      left: 10px;
      bottom: 10px;
      .text {
        position: absolute;
        font-weight: bold;
        font-size: 20px;
        text-align: left;
        color: #253e78;
        width: 130px;
        top: 80px;
        right: 30px;
      }
    }
  }
  p {
    margin-top: 30px;
    margin-bottom: 30px;
    font-weight: normal;
    font-size: 15px;
    letter-spacing: 0.02em;
    text-align: left;
    color: #253e78;
  }
}

.end-section {
  width: 100%;
  height: 105px;
  border-radius: 32px 32px 32px 0px;
  background: transparent;
  border: 2px solid #253e78;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 47px;
  .title {
    width: 80%;
  }
}

.problemas {
  background: #253e78;
  padding-top: 38px;
  padding-bottom: 38px;
  .title {
    color: #c8d336;
    padding-bottom: 25px;
  }

  .line {
    width: 100%;
    height: 3px;
    background: #c8d336;
    margin-bottom: 20px;
  }

  .p-intro {
    font-weight: normal;
    font-size: 15px;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
  }

  .fake-carousel {
    margin-top: 35px;
    display: flex;
    height: 335px;
    overflow-x: scroll;
    .item {
      margin-right: 26px;
      .blue {
        .icon {
          width: 219px;
          height: 125px;
          border-radius: 32px 32px 32px 0px;
          background: #253e78;
          border: 2px solid #c8d336;
          display: flex;
          justify-content: center;
          align-items: center;
        }
        width: 219px;
        height: 200px;
        padding: 15px;
        padding-top: 0 !important;
        border-radius: 32px 32px 32px 0px;
        background: #c8d336;
        display: flex;
        align-items: center;
        flex-direction: column;
        .title {
          position: relative;
          top: 10px;
          font-weight: bold;
          font-size: 25px;
          letter-spacing: 0.02em;
          text-align: left;
          color: #253e78;
          padding-bottom: 0;
        }
      }
      p {
        margin-top: 15px;
        width: 220px;
        font-weight: normal;
        font-size: 15px;
        letter-spacing: 0.02em;
        text-align: left;
        color: #fff;
      }
    }
  }
}

.passo {
  padding-top: 48px;
  padding-bottom: 48px;
  .title {
    margin-bottom: 40px;
  }

  .box-all {
    .borda-green {
      margin-top: 30px;
      border-radius: 38px 38px 38px 0px;
      background: #c8d336;
      height: 215px;

      .foto {
        background: url("../../dist/img/senhora.png") center center no-repeat;
        background-size: cover;
        border-radius: 38px 38px 38px 0px;
        width: 98%;
        position: relative;
        left: 10px;
        height: 215px;
        bottom: 10px;
      }
    }

    .blue {
      position: relative;
      border-radius: 0px 0px 30px 30px;
      padding-top: 30px;
      .item {
        display: flex;
        align-items: flex-start;
        margin-bottom: 37px;
        img {
          width: 81px;
          margin-right: 30px;
        }
        .text {
          width: 280px;
          .title {
            font-weight: bold;
            font-size: 18px;
            letter-spacing: 0.02em;
            text-align: left;
            color: #253e78;
            line-height: 19px;
            margin-bottom: 15px;
          }
          p {
            font-weight: normal;
            font-size: 15px;
            letter-spacing: 0.02em;
            text-align: left;
            color: #253e78;
            margin-bottom: 0;
          }
        }
      }

      .end-text {
        width: 267px;
        font-weight: normal;
        font-size: 18px;
        letter-spacing: 0.02em;
        text-align: left;
        color: #c8d336;
      }
    }
  }
}

.clinica {
  padding-top: 30px;
  padding-bottom: 20px;
  background: #e9ebf1;
  .title {
    width: 70%;
    margin: 0 auto;
    padding-bottom: 41px;
  }
  .wrapper {
    margin: 0 auto;
    width: 99%;
    position: relative;
    margin-bottom: 50px !important;
    .clinica-nav {
      position: relative;
      top: 15px;
      display: flex;
      justify-content: space-between;
      z-index: 1;
      img {
        // filter: invert(86%) sepia(90%) saturate(731%) hue-rotate(10deg)
        // brightness(99%) contrast(90%);
        height: 30px;
      }
    }
    .tns-nav {
      position: absolute;
      z-index: 5;
      bottom: -7px;
      left: 75px;
      button {
        border-radius: 8px;
        width: 8px;
        height: 14px;
        background: #c4c4c4;
        border: none;
        margin-right: 12px;
        outline: none;
      }
      .tns-nav-active {
        background: #253e78;
      }
    }
    .carousel-clinica {
      height: 396px;

      .item {
        position: relative;
        top: 15px;

        .borda-green {
          width: 297px;
          height: 326px;

          border-radius: 30px 30px 30px 0px;
          background: #253e78;
          .foto {
            width: 290px;
            height: 326px;
            position: relative;
            left: 10px;
            bottom: 10px;
            background-size: cover !important;
            border-radius: 30px 30px 30px 0px;
          }
          .f1 {
            background: url("../../dist/img/clinica1.png");
          }
          .f2 {
            background: url("../../dist/img/clinica2.png");
          }
          .f3 {
            background: url("../../dist/img/clinica3.png");
          }
          .f4 {
            background: url("../../dist/img/clinica4.png");
          }
          .f5 {
            background: url("../../dist/img/clinica5.png");
          }
          .f6 {
            background: url("../../dist/img/clinica6.png");
          }
        }
      }
    }
  }
  p {
    font-weight: normal;
    font-size: 15px;
    letter-spacing: 0.02em;
    text-align: left;
    color: #253e78;
    margin-bottom: 30px;
  }

  .img-section {
    width: 100%;
    margin-bottom: 20px;
  }
}

.implante-fases {
  padding-top: 50px;
  padding-bottom: 50px;
  .box-all {
    .box-green {
      width: 290px;
      height: 139px;
      border-radius: 0px 25px 0px 0px;
      background: #c8d336;
      padding-left: 20px;
      padding-top: 18px;
      .title {
        text-align: left;
      }
    }
    .box-blue {
      position: relative;
      top: -5px;
      width: 100%;
      height: 118px;
      border-radius: 0px 30px 0px 0px;
      background: #253e78;
      padding-left: 20px;
      padding-top: 18px;
      p {
        font-weight: normal;
        font-size: 20px;
        line-height: 25px;
        text-align: left;
        color: #fff;
      }
    }
    img {
      position: relative;
    }

    .box-text {
      padding: 20px;
      padding-bottom: 40px !important;
      position: relative;
      top: -5px;
      width: 100%;
      border-radius: 0px 0px 30px 30px;
      background: #c8d336;
      .wrapper {
        position: relative;
        width: 85%;
        margin: 0 auto;
        margin-bottom: 40px !important;
        .carousel-fases {
          .item {
            margin-right: 3px;
            .header {
              display: flex;
              align-items: center;
              img {
                margin-right: 10px;
                width: 70px;
              }
              .title {
                position: relative;
                top: -5px;
                text-align: left;
              }
            }
            p {
              margin-top: 10px;
              width: 215px;
              font-size: 15px;
              letter-spacing: 0.02em;
              text-align: left;
              color: #253e78;
            }
          }
        }
        .fases-nav {
          position: absolute;
          left: -35px;
          top: 40px;
          display: flex;
          justify-content: space-between;
          width: 130%;
          img {
            height: 30px;
          }
        }
      }

      .end-text {
        font-size: 18px;
        letter-spacing: 0.02em;
        text-align: left;
        color: #253e78;
        margin-bottom: 0;
      }
    }
  }
}

.depo {
  padding-top: 40px;
  padding-bottom: 40px;
  background: #c8d336;
  .title {
    line-height: 26px;
    font-weight: bold;
    font-size: 26px;
    line-height: 30px;
    text-align: center;
    color: #253e78;
    margin-bottom: 20px;
  }
  .wrapper {
    position: relative;
    .depo-container {
      .foto {
        width: 100%;
        height: 251px;
        border-radius: 0 30px 30px 0px;
        background-position-y: 0 !important;
      }
      .nome-prof {
        width: 286px;
        height: 97px;
        margin-bottom: 20px;
        border-radius: 0px 30px 30px 0px;
        background: #253e78;
        position: relative;
        top: -50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .nome,
        .prof {
          display: block;
          font-weight: bold;
          font-size: 22px;
          letter-spacing: 0.02em;
          text-align: left;
          color: #c8d336;
        }
        .prof {
          font-weight: normal;
          font-size: 18px;
        }
      }
      .depoimento {
        font-style: italic;
        font-size: 18px;
        letter-spacing: 0.02em;
        text-align: left;
        color: #253e78;
        margin-bottom: 0;
      }
    }
    .tns-nav {
      text-align: center;
      position: relative;
      top: 340px;
      button {
        width: 4px;
        height: 13px;
        border-radius: 8px;
        background: #c4c4c4;
        margin-right: 10px;
        border: none;
      }
      .tns-nav-active {
        background: #253e78;
      }
    }
    .depo-nav {
      .left {
        height: 30px;
        position: absolute;
        top: 345px;
        left: 0px;
        z-index: 1;
      }
      .right {
        height: 30px;
        position: absolute;
        top: 345px;
        right: 0px;
        z-index: 1;
      }
    }
  }
}

.contato {
  background: #253e78;
  padding-top: 40px;
  padding-bottom: 40px;
  text-align: center;
  .horario {
    margin-top: 41px;
    margin-bottom: 41px;
    span {
      display: block;
      font-size: 20px;
      letter-spacing: 0.02em;
      text-align: center;
      color: #c8d336;
    }
  }
  .contato-text {
    border-bottom: 4px solid #c8d336;
    padding-bottom: 40px;
    .title {
      text-align: left;
      margin-bottom: 10px;
      color: #c8d336;
    }
    a {
      display: flex;
      align-items: center;
      font-size: 20px;
      letter-spacing: 0.02em;
      text-align: left;
      color: #c8d336;
      i {
        margin-right: 15px;
      }
    }
  }
  .midias {
    padding-top: 30px;
    padding-bottom: 30px;
    a {
      color: #c8d336;
      margin-right: 30px;
      i {
        font-size: 34px;
      }
    }
  }
  .responsavel {
    font-weight: normal;
    font-size: 12px;
    letter-spacing: 0.02em;
    text-align: center;
    color: #c8d336;
    span {
      display: block;
    }
  }
}
