@media (min-width: map-get($grid-breakpoints, md)) and (max-width: map-get($grid-breakpoints, lg)) {
  .top-nav {
    max-width: 100% !important;
  }
  .tratamentos {
    .title {
      padding-bottom: 40px;
    }
    .wrapper {
      width: 50%;
      margin: 0 auto;
      margin-bottom: 40px !important;
    }
  }
  .problemas {
    .box-lg {
      .borda-blue {
        width: 50%;
      }
    }
  }
  .clinica {
    .wrapper {
      width: 47%;
    }
    .section-lg {
      justify-content: space-between;
      margin-top: 45px;
      margin-bottom: 45px;
      .borda-blue,
      .foto {
        width: 185px;
        height: 120px;
        background: #253e78;
        border-radius: 30px 30px 30px 0px;
      }
      .foto {
        background-size: cover !important;
        position: relative;
        bottom: 10px;
        left: 10px;
      }
      .f1 {
        background: url("../../dist/img/section-lg1.jpg");
      }
      .f2 {
        background: url("../../dist/img/section-lg2.jpg");
      }
      .f3 {
        background: url("../../dist/img/section-lg3.jpg");
      }
    }
  }
  .depo {
    .wrapper {
      width: 50%;
      margin: 0 auto;
    }
  }
}
