@import "../../node_modules/bootstrap/scss/bootstrap";

@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,400;0,700;1,400&display=swap");

@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css");

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Source Sans Pro", sans-serif;
}

img {
  @extend .img-fluid;
}
a {
  text-decoration: none !important;
  cursor: pointer;
  &:hover {
    transform: scale(1.02) !important;
  }
}

.title {
  display: block;
  font-weight: bold;
  font-size: 26px;
  line-height: 30px;
  text-align: center;
  color: #253e78;
}

.whats-btn {
  position: fixed;
  right: 20px;
  bottom: 20px;
  width: 70px;
  height: 70px;
  border-radius: 50px;
  background: #188a0e;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  i {
    font-size: 27px;
    color: #fff;
  }
}

@import "header";
@import "mobile";
@import "desktop";
@import "tablet";
